---
---

@import "{{ site.theme }}";

section {
    width: 58em;
    margin-right: -10em;
}

.wrapper {
    width: 76em;
    margin-left: 1em;
}

footer {
    display: none;
}

a {
    color: forestgreen;
}

a:hover {
    color: darkgreen;
}