---
---

@import "{{ site.theme }}";

section {
    width: 65%;
}

.wrapper {

}

footer {
    display: none;
}

a {
    color: forestgreen;
}

a:hover {
    color: darkgreen;
}

p {
    text-align: justify;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
